{{> header }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button id="scrapeButton">Scrape Articles</button>

{{#each articles}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        <a class="article-link" target="_blank" href={{link}}>
          {{heading}}
        </a>
        <a class="btn btn-success save" data-id={{_id}}>
          Save Article
        </a>
      </h3>
    </div>
    <div class="panel-body">
      {{summary}}
    </div>
  </div>
{{/each}}

<script src="/javascripts/index.js" type="text/javascript"></script>